.DS_Store
.env
dashboarduptime/node_modules
dashboarduptime/dist/*
dashboarduptime/config/prod.env.js
dashboarduptime/npm-debug.log*
dashboarduptime/yarn-debug.log*
dashboarduptime/yarn-error.log*
uptime-api/.env


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
node_modules
